* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    
}

body { 
    width: 100vw;
    height: 100vh;
}

/*logo e menu*/
header {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0 10rem 0 10rem;
}

header .logo {
    margin: 1rem 35rem 1rem 0; /*espaço entre logo e menu*/
    width: 15rem;
}

.menu ul li {
    display: inline;
    padding: 1rem;
}

header nav a {
    list-style-type: none;
    color: #000000;
    font-size: 1.4rem;
    font-weight: 700;
}

a:hover {
    transform: scale(1.1);
    color:#696969;
}

header nav .telefone { /*ícone do menu*/
    width: 1.5rem;
}

/*banner e info principal*/
div .welcome {
    position: relative;
    color: #ffffff;
}

div .banner {
    display: flex;
    width: 100vw;
    height: 65vh;
    filter: brightness(60%)
}

div .welcomeText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #fff;
    top: 20%;
    text-align: center;
}

div .welcomeText h1 {
    margin: 0 35rem;
    font-size: 3rem;
    padding: 2rem;
}

div .welcomeText p {
    margin: 0 28rem 2rem 28rem;
    font-size: 2rem;
    padding: 2rem;
    font-weight: 300;
}
button {
    background-color: #F38323;
    border-radius: 5rem;
    border: none;
    color: #ffffff;
    padding: 1.3rem 3rem;
    font-size: 1.6rem;
    font-weight: 700;
    cursor:pointer;
}

button:hover{
    filter: brightness(90%);
}

/*info secundária*/
div.checkinfo {
    display: flex;
    text-align: center;
    margin: 3rem 5rem;
}

div.info1, .info2, .info3, .info4 {
    justify-content: center;
}

div .check {
    width: 10rem;
}

h2 {
    font-size: 1.6rem;
    padding: 1rem;
}

.checkinfo p {
    color: #000000;
    font-size: 1.4rem;
    padding: 0 5rem;
}

/*Sobre nós*/

